<!-- Carousel wrapper -->
<div class="titulo">
    <h1>Servicios</h1>
</div>
<br/>
<br/>
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <!-- Inner -->
    <div class="carousel-inner py-8">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3" *ngFor="let servicio of servicios">
                        <div class="card">
                            <img src="{{servicio.imagen}}" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">{{servicio.nombre}}</h5>
                                <p class="card-text">
                                    {{servicio.descripcion}}
                                </p>
                                <p class="card-text">
                                    Precio: {{servicio.precio}}
                                </p>
                                <div [ngClass]="{'bloqueado': this.serviciosAquiridos.includes(servicio.id)}"><button type="button" id="agregar{{servicio.id}}" class="btn btn-primary aling-center" (click)="agregar(servicio)">Agregar +</button></div>
                                <div [ngClass]="{'bloqueado': !this.serviciosAquiridos.includes(servicio.id)}"><button type="button" id="quitar{{servicio.id}}" class="btn btn-danger" (click)="quitar(servicio)">Quitar -</button></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- Inner -->
</div>
<!-- Carousel wrapper -->