<app-navegador-publico></app-navegador-publico>
<div class="centrar-imagen">
    <img class="img-banner" src="../../assets/images/banner1.PNG">
</div>
<div class="centrado">
    <h1>Misión</h1><span>
        <br>
    Somos una empresa ubicada en la ciudad de Barranquilla dedicada a la prestación de servicios de limpieza y desinfección. Tales como lavados de muebles, lavado de alfombras, limpieza de tapicería, limpieza de colchones, lavado de peluches, desinfección y fumigación de espacios. Por medio de una aplicación generando bienestar y comodidad para nuestros usuarios, contamos con personal altamente calificado, con el fin de prestarles un servicio óptimo y de calidad.
    </span>
</div>
<app-footer></app-footer>