.centrado {
    margin-top: 5%;
    margin-bottom: 5%;
}

.centrar-imagen {
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}

.img-banner {
    width: 2000px;
    height: 400px;
}

h2 {
    color: #5e81e0;
}

h5 {
    color: #5e81e0;
}