<app-navegador-publico></app-navegador-publico>
<div class="centrar-imagen">
    <img class="img-banner" src="../../assets/images/banner1.PNG">
</div>
<div class="row centrado">
    <div class="col-3">
    </div>
    <div class="col-3">
        <div class="card" style="width: 25rem; height: 25rem;">
            <div class="card-body">
                <h2 class="card-title">Misión</h2>
                <p class="card-text"> Somos una empresa ubicada en la ciudad de Barranquilla dedicada a la prestación de servicios de limpieza y desinfección. Tales como lavados de muebles, lavado de alfombras, limpieza de tapicería, limpieza de colchones, lavado de peluches,
                    desinfección y fumigación de espacios. Por medio de una aplicación generando bienestar y comodidad para nuestros usuarios, contamos con personal altamente calificado, con el fin de prestarles un servicio óptimo y de calidad.
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 25rem; height: 25rem;">
            <div class="card-body">
                <h2 class="card-title">Visión
                </h2>
                <p class="card-text">Para los años 2032 seremos la plataforma líder en la costa Atlántica en la prestación del servicio de limpieza y desinfección de espacios online, brindaremos atención inmediata y personalizada, obtendremos un nivel favorable del uso masivo
                    móvil, así satisfacer las necesidades de todos nuestros usuarios.
                </p>
            </div>
        </div>
    </div>
    <div class="col-43">
    </div>
</div>
<app-footer></app-footer>