<div class="Promesa">

    <h1>Servilavados del Caribe</h1>
    <br>
    <br>
    <p>Nuestro servicio va dirigido a aquellas personas con un estilo de vida saludable, vanguardista, <br> con un alto autoestima y motivación socialmente relacionada con un aspecto limpio y agradable <br> en el que se sienten bien con ellos mismos y proyectando
        hacia los demás. Aquellas personas en las que su salud,<br> su aspecto y limpieza son muy importantes para evitar contraer enfermedades como virus, <br> hongos o bacterias y conducirse de manera sana en la sociedad. .</p>
</div>