<div class="centrar-imagen">
    <img src="../../assets/images/banner2.jpg">
</div>
<div class="centrado">
    <h1>Visión</h1><span>
        <br>
        Para los años 2032 seremos la plataforma líder en la costa Atlántica en la prestación del servicio de limpieza y desinfección de espacios online, brindaremos atención inmediata y personalizada, obtendremos un nivel favorable del uso masivo móvil, así satisfacer las necesidades de todos nuestros usuarios.     </span>
</div>
<app-footer></app-footer>