<app-navegador-publico></app-navegador-publico>
<div class="centrar-imagen">
    <img src="../../assets/images/banner2.jpg">
</div>
<div class="centrado">
    <h1>Principios y valores organizaciones</h1>

    <br>
    <span>
    <ul> Integridad: Actuar de manera ética, honesta, transparente y con espíritu de servicio, que genere confianza en los clientes, usuarios, colaboradores, colaboradores, proveedores, accionistas y la comunidad, obrando en el marco de la ley y de las normas
        establecidas en los diferentes países en los cuales operamos.
    </ul>
    <ul> Compromiso social: Asumir una responsabilidad como organización para que los procesos, servicios y productos que ella tiene estén en armonía con el entorno ambiental, social y económico inmediato, permitiendo el mejoramiento de este.
    </ul>
    <ul> Respeto: Reconocer, aceptar y comprender a todas las personas que interactúan con la organización.
    </ul>
</span>
</div>
<app-footer></app-footer>