<app-navegador-publico></app-navegador-publico>
<div class="centrar-imagen">
    <img class="img-banner" src="../../assets/images/banner2.PNG">
</div>

<div class="row body">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="titulo">
            <h1>Principios y valores organizacionaless</h1>
        </div>
        <div class="card" style="width: 100%;      padding: 5%;    ;  ">
            <div class="row">
                <div class="col-4">
                    <img class="img-card" src="../../assets/images/principios-y-valores.jpg" alt="">
                </div>
                <div class="card-body col-8">
                    <ul> <span class="subtitulo">Integridad:</span> Actuar de manera ética, honesta, transparente y con espíritu de servicio, que genere confianza en los clientes, usuarios, colaboradores, colaboradores, proveedores, accionistas y la comunidad,
                        obrando en el marco de la ley y de las normas establecidas en los diferentes países en los cuales operamos.
                    </ul>
                    <ul><span class="subtitulo"> Compromiso social:</span> Asumir una responsabilidad como organización para que los procesos, servicios y productos que ella tiene estén en armonía con el entorno ambiental, social y económico inmediato, permitiendo
                        el mejoramiento de este.
                    </ul>
                    <ul><span class="subtitulo"> Respeto:</span> Reconocer, aceptar y comprender a todas las personas que interactúan con la organización.
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>

</div>

<app-footer></app-footer>