<app-navegador-publico></app-navegador-publico>
<div class="container">
    <div class="row text-center login-page">
        <div class="col-md-12 login-form">
            <form>
                <div class="row text-center login-page">
                    <div class="col-md-12 login-form">
                        <div class="form-row">
                            <div class="form-group col-md-12 imglogin">
                                <img src="../../assets/images/logo.PNG" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3"></div>
                            <div class="form-group col-md-6">
                                <input [(ngModel)]="usuario.usuario" type="text" class="form-control" id="usuario" placeholder="Usuario" name="usuario" (keyup)="cambioDato()">
                                <span class="badge badge-danger" *ngIf="mensajeUsuario">{{mensajeUsuario}}</span>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3"></div>

                            <div class="form-group col-md-6">
                                <input [(ngModel)]="usuario.constrasena" type="password" class="form-control" id="contrasena" placeholder="Contraseña" name="constrasena" (keyup)="cambioDato()">
                                <span class="badge badge-danger" *ngIf="mensajeContrasena">{{mensajeContrasena}}</span> </div>
                            <div class="col-md-3"></div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-12 login-from-row">
                                <button class="btn btn-primary" (click)="iniciarSesion()">Entrar</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 login-from-row">
                                <a href="/registrarse">Registrarse</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Hola!</h4>
            <button type="button" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>{{mensaje}}</p>
        </div>
    </ng-template>
</div>
<!-- <ngx-spinner></ngx-spinner> -->
<app-footer></app-footer>