.container {
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    padding-top: 100px;
    padding-bottom: 100px;
    width: 23%;
    font-size: larger;
}